# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

# Screenshots and demo files (optional - remove if you want to commit them)
screenshots/
demo-video.mp4